entrypoint = "run.py"
modules = ["python-3.11"]
run = ["python3", "run.py"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[deployment]
run = ["python3", "run.py", "--mode", "auto", "--interval", "60"]
deploymentTarget = "cloudrun"
